---
- hosts: localhost
  become: true
  vars_files:
    - vars.yml
  tasks:
  - name: Install required packages
    apt:
      name: "{{ required_packages }}"
      state: present
      update_cache: yes
  - name: Ensure UFW is enabled
    ufw:
      state: enabled
      policy: "{{ ufw_policy }}"
  
  - name: Configure UFW rules
    ufw:
      rule: allow
      name: "{{ item.name }}"
    loop: "{{ ufw_rules }}"

  - name: Start and enable Nginx
    ansible.builtin.systemd:
      name: nginx
      state: started
      enabled: yes

  - name: Obtain SSL certificate with Certbot
    command: >
      certbot --nginx -n --agree-tos --email {{ ssl_email }} -d {{ domain_name }}
    register: certbot_result
    changed_when: "'Certificate not yet due for renewal' not in certbot_result.stdout"
    failed_when: certbot_result.rc != 0 and 'Certificate not yet due for renewal' not in certbot_result.stdout