---
- hosts: localhost
  become: true
  tasks:
  - name: Install required packages
    apt:
      name: "{{ item.name }}"
      state: present
      update_cache: yes
    with_items:
      - {name: wget}
      - {name: curl}
      - {name: ufw}
      - {name: gnupg2}
      - {name: software-properties-common}
      - {name: apt-transport-https}
      - {name: ca-certificates}
      - {name: lsb-release}
      - {name: nginx}
      - {name: certbot}
      - {name: python3-certbot-nginx}
      - {name: trojan}
  - name: Ensure UFW is enabled
    ufw:
      state: enabled
      policy: allow
  - name: Allow OpenSSH through UFW
    ufw:
      rule: allow
      name: OpenSSH
  - name: Allow Nginx Full through UFW
    ufw:
      rule: allow
      name: 'Nginx Full'