---
# SSL Certificate Configuration
# NOTE: PLEASE CHANGE THESE VALUES BEFORE DEPLOYMENT
ssl_email: "philipdam8@gmail.com"
domain_name: "justhosting.usinfotech.llc"

# Package list for installation
required_packages:
  - wget
  - curl
  - ufw
  - gnupg2
  - software-properties-common
  - apt-transport-https
  - ca-certificates
  - lsb-release
  - nginx
  - certbot
  - python3-certbot-nginx
  - trojan

# UFW Configuration
ufw_policy: allow
ufw_rules:
  - name: OpenSSH
  - name: 'Nginx Full'

# Trojan Configuration
trojan_config:
  local_addr: "0.0.0.0"
  local_port: 443
  remote_addr: "127.0.0.1"
  remote_port: 80
  log_level: 1
  cert_path: "/etc/letsencrypt/live/{{ domain_name }}/fullchain.pem"
  key_path: "/etc/letsencrypt/live/{{ domain_name }}/privkey.pem"

# SSH Configuration
ssh_password_auth: "no"
ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWboxVhqvg+bo7Sy9xWkrTvtzG97+1gq6/whIx+EZ2WBS1QVbYwBwggVkQvqL/pS3Seh37KgoZnIDGmiXiqqGkfvfPkwQd/v6CnG51GHuSFpiTSOLH2Qg0qB2I5dtQW68KbMIfVHIw8BrZvixlInH/8/D44o9s4eSZzTw+PiDq7fV4t4y8d+vmcrRm6iaLzsmqbwpqwRQtMia3XUrYliBnZC4rpNBFSsruCHxgLE+kkW9Wz7sNWzNcOdB+ifPO9+tVuYdV7Bu7QCh+s3qDybX0hOvS/omxyQYpxpwsRCpjrsBj9A5gnQ8Rs2FeFI3s41fgzWuilcS7PBEs2WHYAJUT philip@DESKTOP-MGCFDQD"