---
# SSL Certificate Configuration
# NOTE: PLEASE CHANGE THESE VALUES BEFORE DEPLOYMENT
ssl_email: "philipdam8@gmail.com"
domain_name: "justhosting.usinfotech.llc"

# Package list for installation
required_packages:
  - wget
  - curl
  - ufw
  - gnupg2
  - software-properties-common
  - apt-transport-https
  - ca-certificates
  - lsb-release
  - nginx
  - certbot
  - python3-certbot-nginx
  - trojan

# UFW Configuration
ufw_policy: allow
ufw_rules:
  - name: OpenSSH
  - name: 'Nginx Full'

# Trojan Configuration
trojan_config:
  local_addr: "0.0.0.0"
  local_port: 443
  remote_addr: "127.0.0.1"
  remote_port: 80
  log_level: 1
  cert_path: "/etc/letsencrypt/live/{{ domain_name }}/fullchain.pem"
  key_path: "/etc/letsencrypt/live/{{ domain_name }}/privkey.pem"